KAKAO_REST_API_KEY=your_kakao_rest_api_key
KAKAO_JS_KEY=your_kakao_js_key

DATA_SECURITY_LIGHT_STATS_KEY=your_security_light_stats_key
DATA_STREETLIGHT_STATS_KEY=your_streetlight_stats_key
DATA_CCTV_KEY=your_cctv_key
DATA_SECURITY_LIGHT_LOCATION_KEY=your_security_light_location_key

DATA_POLICE_BOX_KEY=your_police_box_key
DATA_DISTRICT_POLICE_KEY=your_district_police_key
