spring.application.name=backend
server.port=8080

spring.datasource.url=jdbc:postgresql://localhost:5432/safetyroad_db
spring.datasource.username=${DB_USERNAME:your_db_username}
spring.datasource.password=${DB_PASSWORD:your_db_password}
spring.datasource.driver-class-name=org.postgresql.Driver

spring.jpa.hibernate.ddl-auto=update
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.show-sql=true

tmap.app-key=${TMAP_APP_KEY:your_tmap_app_key}

kakao.rest-api-key=${KAKAO_REST_API_KEY:your_kakao_rest_api_key}

opendata.cctv-key=${DATA_CCTV_KEY:your_cctv_key}
opendata.security-light-location-key=${DATA_SECURITY_LIGHT_LOCATION_KEY:your_security_light_location_key}
opendata.security-light-stats-key=${DATA_SECURITY_LIGHT_STATS_KEY:your_security_light_stats_key}
opendata.streetlight-stats-key=${DATA_STREETLIGHT_STATS_KEY:your_streetlight_stats_key}
opendata.police-box-key=${DATA_POLICE_BOX_KEY:your_police_box_key}
opendata.district-police-key=${DATA_DISTRICT_POLICE_KEY:your_district_police_key}
